langchain
PyPDF2
python-dotenv
#openai
faiss-cpu
altair
tiktoken
streamlit
# uncomment to use huggingface llms
huggingface-hub
# uncomment to use instructor embeddings
InstructorEmbedding
sentence-transformers==2.2.2
langchain-experimental
langChain-community
langchain-core
